*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}
body{
    height: 1000px;
}

header{
    z-index: 100;
    display: flex;
    height: 60px;
    top: 0;
    font-size: 23px;
    font-weight: 500;
    position: fixed;
    justify-content: center;
    width: calc(100% - 60px);
    padding-left: 30px;
    padding-right: 30px;
    background-color: white;
    box-shadow: 0px -5px 13px rgba(0, 0, 0, .2);
}

.logo-container, .checkout-items-container, .checkout-lock-icon-container{
    display: flex;
    align-items: center;
}

.logo-container{
    width: 150px;
    justify-content: start;
}
.checkout-items-container{
    width: 800px;
    justify-content: center;
}
.checkout-lock-icon-container{
    width: 150px;
    justify-content: right;
}

.logo-container img{
    width: 100px;
}

.logo-container img:hover{
    cursor: pointer;
}
.checkout-items-container a{
    text-decoration: none;
    color: rgb(1,113,132);
}











main{
    display: flex;
    flex-direction: column;
    width: calc(100% - 60px);
    max-width: calc(1100px);
    margin: 100px auto;
    padding: 0px 30px;
}

.review-your-order{
    font-size: 22px;
    font-weight: 700;
    width: calc(100% - 60px);
    max-width: calc(1100px);
    
}


.product-and-checkout-container{
    display: flex;
    margin-top: 20px;
}

.added-products-container{
    display: flex;
    flex-direction: column;
    
    max-width: 700px;
    min-width: 550px;
}
.product-container{
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(223,223,222);
    border-radius: 4px;
    padding: 18px;
    gap: 20px;
    height: 240px;
    margin-bottom: 10px;
}

.delivery-date{
    color: rgb(1,119,0);
    font-size: 19px;
    font-weight: 700;
}

.cart-item-details-container{
    display: flex;
    justify-content: space-between;
    padding-right: 60px;
}

.cart-item-details{
    display: flex;
    gap: 20px;
    min-width: 300px;
    max-width: 400px;
}

.cart-item-details img{
    width: 100px;
    height: 110px;
}

.item-details{
    display: flex;
    flex-direction: column;
    gap: 6px;

}
.item-name, .item-price{
    font-size: 16px;
    font-weight: 700;
}
.item-price{
    color: rgb(184,52,5);
}
.item-details-quantity-container{
    display: flex;
    gap: 6px;
}
.item-quantity{
    white-space: nowrap;
}
.update-quantity, .delete-product{
    color: rgb(16,146,198);
}
.update-quantity:hover, .delete-product:hover{
    cursor: pointer;
    color: rgb(176, 50, 50);
}





.delivery-options{
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-width: 200px;
    height: 180px;
    margin-left: 25px;
}

.delivery-option-text{
    font-size: 16px;
    font-weight: 700;
}

.options{
    display: flex;
    gap: 5px;
}

.options input{
    width: 18px;
}

.option-date{
    color: rgb(5, 104, 3);
    font-weight: 500;
}
.option-delivery-price{
    color: rgb(120, 120, 120);
    font-size: 15px;
}




.order-summary-container{
    border: 1px solid rgb(223,223,222);
    border-radius: 4px;
    margin-left: 14px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    min-width: 310px;
    height: 270px;
}

.OrderSummary{
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 3px;
}

.summary-price-container, .summary-text, .summary-price{
    display: flex;
}
.summary-price-container{
    position: relative;
}
.summary-text, .summary-price{
    flex-direction: column;
    gap: 5px;
    flex: 1;
}
.summary-text :nth-child(2), .summary-price :nth-child(2){
    margin-bottom: 10px;
}
.summary-price{
    text-align: end;
}

.summary-price-line1{
    position: absolute;
    top: 50%;
    right: 0;
    width: 50px;
    height: 1px;
    background-color: rgba(0, 0, 0, .2);
}
.summary-price-line2{
    position: absolute;
    bottom: -10px;
    right: 0;
    width: 100%;
    height: 1px;
    background-color: rgba(0, 0, 0, .2);
}

.orderTotal-container{
    display: flex;
    justify-content: space-between;
    margin-top: 18px;
    color: rgb(177, 39, 4);
    font-size: 18px;
    font-weight: 700;
}

.order-button button{
    width: 100%;
    border-radius: 8px;
    border: none;
    height: 45px;
    background-color: rgb(255, 216, 20);
    box-shadow: 0px 3px 3px rgba(0,0,0,.1);
}
.order-button button:hover{
    cursor: pointer;
    background-color: rgb(236, 199, 15);
}


.order-button button:active{
    background-color: rgb(252, 213, 17);
}





@media(max-width: 1000px){
    .cart-item-details-container{
        flex-direction: column;
    }

    .product-container{
        height: 380px;
        width: 460px;
        align-items: center;
    }
    .delivery-options{
        margin: 0;
        margin-top: 30px;
    }
    .product-and-checkout-container{
        flex-direction: column;
        align-items: center;
    }
    .review-your-order{
        max-width: calc(500px);
        min-width: calc(500px);
    }
    main{  
        margin-top: 150px;
        padding: 0;
        align-items: center;
    }
    .added-products-container{
        align-items: center;
        order: 2;
    }

    .order-summary-container{
        margin-bottom: 10px;
        margin-left: 0;
        width: 460px;
        order: 1;
    }
}