.amazon-header{
    background-color: rgb(18,25,32);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 0px 15px;
    position: fixed;
    width: 100%;
    height: 60px;
    z-index: 100;
}
.amazon-header-left-section{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: start;
    max-width: 200px;
}
.amazon-logo{
    width: 100px;
    padding: 6px;
    border: 1px solid transparent;
}
.amazon-logo:hover{
    cursor: pointer;
    border: 1px solid white;
}


.amazon-header-mid-section{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.amazon-searchBar{
    padding: 1px 2px 1px 15px;
    height: 40px;
    width: 100%;
    min-width: 150px;
    max-width: 800px;
    border-radius: 4px 0px 0px 4px;
    border: none;
    outline: none;
    font-size: 16px;
}
.amazon-searchBar:focus{
    outline: 1.5px solid rgb(240, 162, 60);
}
.amazon-searchbar-icon{
    width: 22px;
    height: 22px;
    background-color: rgb(255,189,104);
    padding: 10px;
    margin-left: -2px;
    border-radius: 0px 4px 4px 0px;
}


.amazon-header-right-section{
    flex: 1;    
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    max-width: 200px;
    padding-right: 10px;
}
.return-order-container p:nth-child(2){
    font-weight: bold;
}
.return-order-container{
    padding: 6px;
    border: 1px solid transparent;
}
.return-order-container:hover{
    cursor: pointer;
    border: 1px solid white;
}
.cart-container{
    display: flex;
    padding: 6px;
    align-items: end;
    position: relative;
    border: 1px solid transparent;
}
.cart-container:hover{
    cursor: pointer;
    border: 1px solid white;
}
.cartIcon{
    width: 50px;
}
.cart-container p{
    font-weight: bold;
}
.cart-quantity{
    color: rgb(234, 148, 44);
    position: absolute;
    top: 5px;
    left: 0;
    right: 16px;
    text-align: center;
    font-size: 14px;
}


@media (max-width: 800px){
    .amazon-header-left-section{
        max-width: 120px;
    }
}
@media (max-width: 570px){
    .amazon-logo{
        content: url('../amazon-Image/headerImages/amazonLogo/phoneLogo.png');
        width: 34px;
    }
    .amazon-header-left-section{
        max-width: 60px;
    }
    .amazon-header-right-section{
        max-width: 60px;
        padding-right: 15px;
    }
}

.menuBurgerIcon{
    width: 18px;
    padding: 6px;
}
.menuBurgerIcon:hover{
    cursor: pointer;
}

.header-burgerMenu{
    background-color: rgb(18,25,32);
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 60px;
    width: 100%;
    color: white;
    padding-bottom: 5px;
    overflow: hidden;
    transform: translateY(-100%);
    opacity: 0;
    transition: transform .15s ease-in, opacity .15s ease-in;
    z-index: 1;
}
.header-burgerMenu-transition{
    opacity: 1;
    transform: translateY(0);
}
.return-orders, .cart{
    padding: 10px;
    width: 100%;
    text-align: center;
}
.return-orders:hover, .cart:hover{
    cursor: pointer;
    background-color: rgba(53, 68, 84, 0.4);
}